/* GLOBAL STYLES */
* {
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
}

/* FONTS */
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

/* DESKTOP STYLES */
canvas {
  /* setting margin and padding to 0 and then using display block will prevent global style */
  margin: 0;
  padding: 0;
  z-index: -100;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  font-family: Anton;
}

.menu li a {
  color: aliceblue;
  text-decoration: none;
}

.menu li a:hover {
  color: fuchsia;
  background-color: rgba(10, 6, 6, 0.3);
}

h1 {
  font-family: Rubik Mono One;
  color: aliceblue;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

.center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-screen {
  width: 50%;
  height: 50%;
}

.center-screen p {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: aliceblue;
  font-size: 18px;
  font-family: Anton;
}

/* INFO - FLIPCARD */
.center-flip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.flip-card {
  display: flex;
  align-self: center;
  background-color: transparent;
  width: 300px;
  height: 400px;
}

.flip-card-info {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 2s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
}

.flip-card:hover .flip-card-info {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; /* overlap perfectly */
  width: 100%;
  height: 100%;
  backface-visibility: hidden;  /* hide back face when flipped */
}

.flip-card-front {
  /* if no image */
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: fuchsia;
  color: white;
  transform: rotateY(180deg); /* invert backside to correctly orient it for hover flip */
  flex-direction: column;
}

.flip-card-back a {
  text-decoration: none;
  color: white;
}

.flip-card-back a:hover {
  color: aqua;
}


/* PROJECTS - SCROLL */
.scroll-container {
  background-color: rgba(10, 6, 6, 0.8);
  overflow-x: auto; /* Enables horizontal scroll */
  white-space: nowrap; /* Prevents wrapping, ensuring elements are in a row */
  padding: 10px;
}

/* Styling each image container (thumb) */
.thumb {
  display: inline-block; /* Ensures the images appear in a horizontal row */
  position: relative; 
  width: 300px;
  height: 300px;
  margin-right: 10px; /* Adds space between each image */
}

/* Image styling */
.thumb img {
  width: 100%; /* Image fills the thumb container */
  height: 100%;
  object-fit: cover; /* Ensures the image fits without distortion */
  transition: opacity 0.3s ease-in-out; /* Smooth transition on hover */
}

/* Mask styling */
.thumb .mask {
  visibility: hidden; /* Initially hidden */
  opacity: 0;
  position: absolute; /* Positioned over the image */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); 
  color: fuchsia;
  font-size: 20px;
  text-align: center;
  display: flex; 
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  flex-direction: column; /* Stacks items vertically */
  padding: 10px;
  overflow-wrap: break-word;
  box-sizing: border-box; /* Ensures padding is inside the mask */
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Text elements inside the mask */
.mask h2, .mask p, .mask a {
  margin: 0;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.3s ease;
}

.mask h2 {
  margin: 0; /* Removes the space above and below the <h2> */
  text-shadow:  3px 3px rgba(0, 0, 0, 0.5);
}

.mask p {
  margin: 10px 0; /* Adjusts the space above and below the <p> */
  text-shadow:  3px 3px rgba(0, 0, 0, 0.5);
  font-weight: 300;
  font-style: italic;
}

.mask a {
  margin: 5px 0; /* Adjusts the space above and below the <a> */
  text-shadow:  3px 3px rgba(0, 0, 0, 0.5);
  color: fuchsia;
  text-decoration: none;
}

/* Hover effects */
.mask a:hover {
  color:aqua;
}

.thumb:hover .mask {
  visibility: visible;
  opacity: 1;
}

.thumb:hover .mask h2,
.thumb:hover .mask p,
.thumb:hover .mask a {
  opacity: 1;
  transform: scale(1);
}



/* CONTACTS - ICONS */
.center-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0;
  margin: 0 2px;
  width: 50%;
  height: 50%;
}

.contacts li {
  width: 200px;
  height: 300px;
  text-decoration: none;
  padding: 1px;
}

.contacts li img {
  padding: 0;
}

.contacts li img:hover {
  background-color: fuchsia;
}

/* MEDIA QUERIES */
/* Tablet Size */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .center-screen {
    width: 700px;
    height: 700px;
  }

  .center-screen p {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    font-size: 18px;
    font-family: Anton;
  }

  /* CONTACTS - ICONS */
  .center-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contacts {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
    margin: 2px 2px;
    width: 50%;
    height: 80%;
  }

  .contacts li {
    width: 200px;
    height: 300px;
    text-decoration: none;
    padding: 1px;
    /* overflow: hidden; */
  }

  .contacts li img {
    padding: 0;
  }

  .contacts li img:hover {
    background-color: fuchsia;
  }
}

/* Phone Size */
@media only screen and (max-width: 767px) {
  .menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-family: Anton;
    margin: 0;
    padding: 0;
  }

  .menu li a {
    padding: 0;
    margin: 0;
    color: aliceblue;
    text-decoration: none;
    font-size: medium;
  }

  .menu li a:hover {
    color: fuchsia;
    background-color: rgba(10, 6, 6, 0.3);
  }

  h1 {
    font-size:x-large;
  }

  .center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .center-screen {
    width: 100%;
    height: 100%;
  }

  .center-screen p {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    font-size: 12px;
    font-family: Anton;
    overflow: hidden;
  }

  .scroll-container {
    background-color: rgba(10, 6, 6, 0.8);
    overflow-x: auto; /* Enables horizontal scroll */
    white-space: nowrap; /* Prevents wrapping, ensuring elements are in a row */
    padding: 10px;
  }
  
  /* Styling each image container */
  .thumb {
    display: inline-block; /* Ensures the images appear in a horizontal row */
    position: relative; /* Necessary for positioning the mask over the image */
    width: 200px;
    height: 200px;
    margin-right: 10px; /* Adds space between each image */
  }
  
  /* Image styling */
  .thumb img {
    width: 100%; /* Image fills the thumb container */
    height: 100%;
    object-fit: cover; /* Ensures the image fits without distortion */
    transition: opacity 0.3s ease-in-out; /* Smooth transition on hover */
  }
  
  /* Mask styling */
  .thumb .mask {
    visibility: hidden; /* Initially hidden */
    opacity: 0;
    position: absolute; /* Positioned over the image */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    color: fuchsia;
    font-size: 20px;
    text-align: center;
    display: flex; /* Ensures Flexbox works */
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
    flex-direction: column; /* Stacks items vertically */
    padding: 10px;
    overflow-wrap: break-word;
    box-sizing: border-box; /* Ensures padding is inside the mask */
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  /* Text elements inside the mask */
  .mask h2, .mask p, .mask a {
    margin: 0;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.3s ease;
  }
  
  .mask h2 {
    font-size: medium;
    margin: 0; /* Removes the space above and below the <h2> */
    text-shadow:  3px 3px rgba(0, 0, 0, 0.5);
  }
  
  .mask p {
    margin: 10px 0; /* Adjusts the space above and below the <p> */
    text-shadow:  3px 3px rgba(0, 0, 0, 0.5);
    font-size: small;
    font-weight: 300;
    font-style: italic;
  }
  
  .mask a {
    margin: 5px 0; /* Adjusts the space above and below the <a> */
    text-shadow:  3px 3px rgba(0, 0, 0, 0.5);
    font-size: small;
    color: fuchsia;
    text-decoration: none;
  }
  
  /* Hover effects */
  .mask a:hover {
    color:aqua;
  }
  
  .thumb:hover .mask {
    visibility: visible;
    opacity: 1;
  }
  
  .thumb:hover .mask h2,
  .thumb:hover .mask p,
  .thumb:hover .mask a {
    opacity: 1;
    transform: scale(1);
  }

  /* CONTACTS - ICONS */
  .center-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contacts {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
  }

  .contacts li {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 5px;
    margin: 10px 0;
  }

  .contacts li img {
    padding: 0;
  }

  .contacts li img:hover {
    background-color: fuchsia;
  }
}
